{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="col-12 text-center mt-3 mb-2">
    <h3>Pedidos</h3>
</div>  
<div class="col-12">
    <div class="table-responsive table-bordered">
        <table class="table">
            <thead>
                <tr>
                    <th width="30">Boleta</th>
                    <th width="30" class="text-center">Cantidad</th>
                    <th>Producto</th>                    
                    <th width="40" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in datos.itertuples  %}
                <tr>
                    {% ifchanged dato.id %}
                    <td class="text-right">{{ dato.boleta }}</td>
                    {% else %}
                    <td></td>
                    {% endifchanged  %}
                    <td class="text-right">{{ dato.Cantidad }}</td>
                    <td>{{ dato.Producto }}</td>   
                    {% ifchanged dato.id %}                 
                    <td class="text-center pb-0 pt-2"><a href="{% url 'completar' dato.id %}" class="btn btn-primary btn-rounded btn-sm m-0">Completar</a></td>
                    {% else %}
                    <td></td>
                    {% endifchanged  %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="col-12 text-center mt-3 mb-2">
    <a class="btn btn-default  btn-rounded " href="{% url 'completado' %}">Completados</a>
    
</div>

{% endblock %}

